<h1> Add a New Place </h1>
<br>
<form action="http://localhost:3000/places/create">
	Title:<br>
	<input type="text" name="title">
	<br>
	Photo URL:<br>
	<input type="text" name="photo">
	<br>	
	Price:<br>
	<input type="text" name="price">
	<br>	
	Description:<br>
	<input type="text" name="description">
	<br><br>
	<input type="submit"> 
</form>